<div class="ui container">
  <div class="pipelineDay-content">
    <div class="ui three item menu">
      <a class="item" href="#/pipeline/day">Daily</a>
      <a class="active item" href="#/pipeline/week">Weekly</a>
      <a class="item" href="#/pipeline/month">Monthly</a>
    </div>
    <select name="select-weeks" id="select-weeks" class="ui dropdown"></select>
    <select name="select-year" id="select-year" class="ui dropdown">
      <option value="2015">2015</option>
    </select>
    <button ng-click="reloadPipelineWeek()" class="ui orange button">Reload</button>
    <div>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Agent Name</th>
            <th>No Answer</th>
            <!-- <th>Answered</th> -->
            <th>Greeting</th>
            <th>Gate keeper</th>
            <th>Sales Pitch</th>
            <th>TPV Prep</th>
            <th>Sales</th>
            <th>Missing Disposition</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in resultsW | orderBy: 'owner'">
            <td>{{result.owner}}</td>
            <td>{{result.noAnswer}}</td>
            <!-- <td>{{result.answered}}</td> -->
            <td>{{result.greeting}}</td>
            <td>{{result.gatekeeper}}</td>
            <td>{{result.salespitch}}</td>
            <td>0</td>
            <td>0</td>
            <td>{{result.missing}}</td>
            <td>{{result.calls}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {

  });

  function reloadWeek() {
    $.get('/api/pipeline/week/getWeeks', function(data) {
      for (var i = 0; i < data.length; i++) {
        $('#select-weeks').append('<option value="' + data[i] +'">' + data[i] + '</option>');
      }
    });
  }

  window.onload = reloadWeek();
</script>
