<div class="ui container">
  <div class="pipelineDay-content">
    <div class="ui three item menu">
      <a class="item" href="#/pipeline/day">Daily</a>
      <a class="item" href="#/pipeline/week">Weekly</a>
      <a class="active item" href="#/pipeline/month">Monthly</a>
    </div>
    <select name="select-month" id="select-month" class="ui dropdown"></select>
    <select name="select-year2" id="select-year2" class="ui dropdown">
      <option value="2015">2015</option>
    </select>
    <button ng-click="reloadPipelineMonth()" class="ui orange button">Reload</button>
    <div>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Agent Name</th>
            <th>No Answer</th>
            <!-- <th>Answered</th> -->
            <th>Greeting</th>
            <th>Gate keeper</th>
            <th>Sales Pitch</th>
            <th>TPV Prep</th>
            <th>Sales</th>
            <th>Missing Disposition</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in resultsM | orderBy: 'owner'">
            <td>{{result.owner}}</td>
            <td>{{result.noAnswer}}</td>
            <!-- <td>{{result.answered}}</td> -->
            <td>{{result.greeting}}</td>
            <td>{{result.gatekeeper}}</td>
            <td>{{result.salespitch}}</td>
            <td>0</td>
            <td>0</td>
            <td>{{result.missing}}</td>
            <td>{{result.calls}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  function getMonthName(number) {
    switch(number) {
      case 1: return "January"; break;
      case 2: return "February"; break;
      case 3: return "March"; break;
      case 4: return "April"; break;
      case 5: return "May"; break;
      case 6: return "June"; break;
      case 7: return "July"; break;
      case 8: return "August"; break;
      case 9: return "September"; break;
      case 10: return "October"; break;
      case 11: return "November"; break;
      case 12: return "December"; break;
      default: return "None"; break;
    }
  }

  function reloadMonth() {
    $.get('/api/pipeline/month/getMonths', function(data) {
      for (var i = 0; i < data.length; i++) {
        $('#select-month').append('<option value="' + data[i] +'">' + getMonthName(data[i]) + '</option>');
      }
    });
  }

  window.onload = reloadMonth();
</script>
