<div class="ui container">
  <div class="pipelineDay-content">
    <div class="ui three item menu">
      <a class="active item" href="#/pipeline/day">Daily</a>
      <a class="item" href="#/pipeline/week">Weekly</a>
      <a class="item" href="#/pipeline/month">Monthly</a>
    </div>
    <div class="ui input">
      <input type="text" ng-model="pipelineDay" name="input-pipeline-day" id="input-pipeline-day" class="input-date" placeholder="Select a date">
      <button ng-click="reloadPipelineDay()" class="ui orange right button">Reload</button>
    </div>

    <div>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Agent Name</th>
            <th>No Answer</th>
            <!-- <th>Answered</th> -->
            <th>Greeting</th>
            <th>Gate keeper</th>
            <th>Sales Pitch</th>
            <th>TPV Prep</th>
            <th>Sales</th>
            <th>Missing Disposition</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in resultsP | orderBy: 'owner'">
            <td>{{result.owner}}</td>
            <td>{{result.noAnswer}}</td>
            <!-- <td>{{result.answered}}</td> -->
            <td>{{result.greeting}}</td>
            <td>{{result.gatekeeper}}</td>
            <td>{{result.salespitch}}</td>
            <td>0</td>
            <td>0</td>
            <td>{{result.missing}}</td>
            <td>{{result.calls}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.input-date').datetimepicker({
      timepicker: false,
      format: 'd/m/Y'
    });
  })
</script>
