<div class="container">
  <div class="import-content">
    <form class="">
      <input type="file" name="import-input-crm" id="import-inputcrm">
      <button ng-click="importCRM()">Import CRM</button>
    </form>
    <form class="">
      <input type="file" name="import-input-occ" ng-model="importocc" id="import-inputocc">
      <button ng-click="importOcc()">Import Occupancy</button>
    </form>
  </div>
</div>
