<div class="ui container">
  <div class="weekly-content">
    <div class="row">
      <div class="ui input">
        <input type="text" id="input-weekly" ng-model="weeklyMonth" name="weekly-input-month" placeholder="Ex. 09/2015">
        <button ng-click="reloadMonthTable()" class="ui orange right button">Reload</button>
      </div>
    </div>
    <div>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Week</th>
            <th>Date</th>
            <th>Number of Calls</th>
            <th>Number of Leads</th>
            <th>On Call Time</th>
            <th>AHT</th>
            <th>Occupancy</th>
            <th>No Answer</th>
            <!-- <th>Answered</th> -->
            <th>Greeting</th>
            <th>Gate keeper</th>
            <th>Sales Pitch</th>
            <th>TPV Prep</th>
            <th>Sales</th>
            <th>Missing Disposition</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in results | orderBy: 'day'">
            <td>{{result.week}}</td>
            <td>{{result.date}}</td>
            <td>{{result.calls}}</td>
            <td>{{result.leads}}</td>
            <td>{{result.onCall}}</td>
            <td>{{result.aht}}</td>
            <td>{{result.occ}}</td>
            <td>{{result.noAnswer}}</td>
            <!-- <td>{{result.answered}}</td> -->
            <td>{{result.greeting}}</td>
            <td>{{result.gatekeeper}}</td>
            <td>{{result.salespitch}}</td>
            <td>0</td>
            <td>0</td>
            <td>{{result.missing}}</td>
            <td>{{result.calls}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
