<div class="ui container">
  <div class="batch-content" ng-init="getData()">
      <div class="ui center aligned container">
        <h1>Batch Distribution</h1>
      </div>
      <div class="ui three column grid">
        <div class="row">
          <div class="column">
            <div class="ui center aligned container">
              <h3>Total Batch</h3>
            </div>
            <table class="ui celled table">
              <tr>
                <td>Total Leads</td>
                <td>30756</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>Leads Dialed</td>
                <td>{{batchA.leads}}</td>
                <td>{{(batchA.leads / 8903) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Opportunity Lost</td>
                <td>{{batchA.lost}}</td>
                <td>{{(batchA.lost / batchA.leads) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Opportunity Working</td>
                <td>{{batchA.work}}</td>
                <td>{{(batchA.work / batchA.leads) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Qualified</td>
                <td>{{batchA.qualified}}</td>
                <td>{{(batchA.qualified / batchA.leads) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Client</td>
                <td>0</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>Number of calls</td>
                <td>{{batchA.calls}}</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>No Answer</td>
                <td>{{batchA.noAnswer}}</td>
                <td>{{(batchA.noAnswer / batchA.calls) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Greeting</td>
                <td>{{batchA.greeting}}</td>
                <td>{{(batchA.greeting /  batchA.calls) * 100 |  number: 2}}%</td>
              </tr>
              <tr>
                <td>Gate Keeper</td>
                <td>{{batchA.gatekeeper}}</td>
                <td>{{(batchA.gatekeeper / batchA.calls) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Sales Pitch</td>
                <td>{{batchA.ups + batchA.pitch + batchA.provided + batchA.salespitch}}</td>
                <td>{{((batchA.ups + batchA.pitch + batchA.provided + batchA.salespitch) / batchA.calls) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>TPV</td>
                <td>0</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>Sales</td>
                <td>0</td>
                <td>0%</td>
              </tr>
            </table>
          </div>
          <div class="column">
            <div class="ui center aligned container">
              <h3>Batch 0</h3>
            </div>
            <table class="ui celled table">
              <tr>
                <td>Total Leads</td>
                <td>8903</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>Leads Dialed</td>
                <td>{{batch0.leads}}</td>
                <td>{{(batch0.leads / 8903) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Opportunity Lost</td>
                <td>{{batch0.lost}}</td>
                <td>{{(batch0.lost / batch0.leads) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Opportunity Working</td>
                <td>{{batch0.work}}</td>
                <td>{{(batch0.work / batch0.leads) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Qualified</td>
                <td>{{batch0.qualified}}</td>
                <td>{{(batch0.qualified / batch0.leads) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Client</td>
                <td>0</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>Number of calls</td>
                <td>{{batch0.calls}}</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>No Answer</td>
                <td>{{batch0.noAnswer}}</td>
                <td>{{(batch0.noAnswer / batch0.calls) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Greeting</td>
                <td>{{batch0.greeting}}</td>
                <td>{{(batch0.greeting /  batch0.calls) * 100 |  number: 2}}%</td>
              </tr>
              <tr>
                <td>Gate Keeper</td>
                <td>{{batch0.gatekeeper}}</td>
                <td>{{(batch0.gatekeeper / batch0.calls) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Sales Pitch</td>
                <td>{{batch0.ups + batch0.pitch + batch0.provided + batch0.salespitch}}</td>
                <td>{{((batch0.ups + batch0.pitch + batch0.provided + batch0.salespitch) / batch0.calls) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>TPV</td>
                <td>0</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>Sales</td>
                <td>0</td>
                <td>0%</td>
              </tr>
            </table>
          </div>
          <div class="column">
            <div class="ui center aligned container">
              <h3>Batch 2</h3>
            </div>
            <table class="ui celled table">
              <tr>
                <td>Total Leads</td>
                <td>4999</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>Leads Dialed</td>
                <td>{{batch1.leads}}</td>
                <td>{{(batch1.leads / 8903) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Opportunity Lost</td>
                <td>{{batch1.lost}}</td>
                <td>{{(batch1.lost / batch1.leads) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Opportunity Working</td>
                <td>{{batch1.work}}</td>
                <td>{{(batch1.work / batch1.leads) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Qualified</td>
                <td>{{batch1.qualified}}</td>
                <td>{{(batch1.qualified / batch1.leads) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Client</td>
                <td>0</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>Number of calls</td>
                <td>{{batch1.calls}}</td>
                <td>100%</td>
              </tr>
              <tr>
                <td>No Answer</td>
                <td>{{batch1.noAnswer}}</td>
                <td>{{(batch1.noAnswer / batch1.calls) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Greeting</td>
                <td>{{batch1.greeting}}</td>
                <td>{{(batch1.greeting /  batch1.calls) * 100 |  number: 2}}%</td>
              </tr>
              <tr>
                <td>Gate Keeper</td>
                <td>{{batch1.gatekeeper}}</td>
                <td>{{(batch1.gatekeeper / batch1.calls) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>Sales Pitch</td>
                <td>{{batch1.ups + batch1.pitch + batch1.provided + batch1.salespitch}}</td>
                <td>{{((batch1.ups + batch1.pitch + batch1.provided + batch1.salespitch) / batch1.calls) * 100 | number: 2}}%</td>
              </tr>
              <tr>
                <td>TPV</td>
                <td>0</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>Sales</td>
                <td>0</td>
                <td>0%</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="ui three column grid">
        <div class="row">
          <div class="column">
            <h3>Batch 2</h3>
          </div>
          <div class="column">
            <h3>Batch 3</h3>
          </div>
          <div class="column">
            <h3>Batch 4</h3>
          </div>
        </div>
      </div>
  </div>
</div>
