<div class="ui container">
  <div class="home-content">
    <div class="row"></div>
    <div class="row">
      <div class="ui input">
        <input type="text" name="input-date" id="input-home-date" class="input-date" placeholder="Select a date">
        <button ng-click="getFullData()" class="ui orange right button">Reload</button>
      </div>
    </div>

    <div class="ui three column grid">
      <div class="row">
        <div id="daily-content" class="column">
          <div class="ui center aligned container"><h2>Daily</h2></div>
          <table class="ui celled table" >
            <tr>
              <td>Number of Calls</td>
              <td>{{daily.calls}}</td>
            </tr>
            <tr>
              <td>Number of Leads</td>
              <td>{{daily.leads}}</td>
            </tr>
            <tr>
              <td>On Call Time</td>
              <td>{{daily.onCall}}</td>
            </tr>
            <tr>
              <td>AHT</td>
              <td>{{daily.aht}}</td>
            </tr>
            <tr>
              <td>Occupancy</td>
              <td>{{daily.occ}}</td>
            </tr>
            <tr>
              <td>SPH</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Contact Percentage</td>
              <td>{{daily.percentage}}</td>
            </tr>
            <tr>
              <td>Opportunity Lost</td>
              <td>{{daily.lost}}</td>
            </tr>
            <tr>
              <td>Opportunity Working</td>
              <td>{{daily.work}}</td>
            </tr>
            <tr>
              <td>Client</td>
              <td>0</td>
            </tr>
          </table>
        </div>
        <div id="weekly-content" class="column">
            <div class="ui center aligned container"><h2>Weekly</h2></div>
          <table class="ui celled table">
            <tr>
              <td>Number of Calls</td>
              <td>{{weekly.calls}}</td>
            </tr>
            <tr>
              <td>Number of Leads</td>
              <td>{{weekly.leads}}</td>
            </tr>
            <tr>
              <td>On Call Time</td>
              <td>{{weekly.onCall}}</td>
            </tr>
            <tr>
              <td>AHT</td>
              <td>{{weekly.aht}}</td>
            </tr>
            <tr>
              <td>Occupancy</td>
              <td>{{weekly.occ}}</td>
            </tr>
            <tr>
              <td>SPH</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Contact Percentage</td>
              <td>{{weekly.percentage}}</td>
            </tr>
            <tr>
              <td>Opportunity Lost</td>
              <td>{{weekly.lost}}</td>
            </tr>
            <tr>
              <td>Opportunity Working</td>
              <td>{{weekly.work}}</td>
            </tr>
            <tr>
              <td>Client</td>
              <td>0</td>
            </tr>
          </table>
        </div>
        <div id="weekly-content" class="column">
            <div class="ui center aligned container"><h2>Monthly</h2></div>
          <table class="ui celled table">
            <tr>
              <td>Number of Calls</td>
              <td>{{monthly.calls}}</td>
            </tr>
            <tr>
              <td>Number of Leads</td>
              <td>{{monthly.leads}}</td>
            </tr>
            <tr>
              <td>On Call Time</td>
              <td>{{monthly.onCall}}</td>
            </tr>
            <tr>
              <td>AHT</td>
              <td>{{monthly.aht}}</td>
            </tr>
            <tr>
              <td>Occupancy</td>
              <td>{{monthly.occ}}</td>
            </tr>
            <tr>
              <td>SPH</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Contact Percentage</td>
              <td>{{monthly.percentage}}</td>
            </tr>
            <tr>
              <td>Opportunity Lost</td>
              <td>{{monthly.lost}}</td>
            </tr>
            <tr>
              <td>Opportunity Working</td>
              <td>{{monthly.work}}</td>
            </tr>
            <tr>
              <td>Client</td>
              <td>0</td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.input-date').datetimepicker({
      timepicker: false,
      format: 'd/m/Y'
    });
  })
</script>
